.change-date {
    grid-row: 2/3;
    grid-column: 4/5;
    
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    font-family: $font-roboto;
    font-weight: 100;
    color: white;
    
    background-color: transparent;
    border: none;
    
    transform: rotate(-71deg) translate(-70px, -70px);
    
    &:focus {
        outline: none;
    }
    
    
    i {
        margin-right: 20px;
    }
  
}